<div class="toast show mx-5">
  <div class="toast-header bg-warning">
    Läget i Stockholm just nu
  </div>
  <div class="toast-body">
    Region Stockholm har valt att sluta testa personer som inte är inlagda på sjukhus eller tillhör en riskgrupp. Läs
    mer<a
      href="https://www.1177.se/Stockholm/sa-fungerar-varden/varden-i-stockholms-lan/om-corona/laget-i-stockholm-just-nu/">
      här.</a>
  </div>
</div>

<div class="toast show mx-5">
  <div class="toast-header">
    Folkhälsomyndigheten
  </div>
  <div class="toast-body">
    Tvätta händerna ofta Smittämnen fastnar lätt på händer. De sprids vidare när du tar någon i hand. Tvätta därför
    händerna ofta med tvål och varmt vatten, minst 20 sekunder.
    Läs mer<a href="https://www.folkhalsomyndigheten.se/"> här.</a>
  </div>
</div>

<div class="toast show mx-5">
  <div class="toast-header">
    Krisinformation.se
  </div>
  <div class="toast-body">
    Folkhälsomyndigheten uppmanar människor med symtom, även milda, att begränsa sociala kontakter för att inte smitta
    andra.
    Läs mer<a href="https://www.krisinformation.se/"> här.</a>
  </div>
</div>

<div class="toast show mx-5">
  <div class="toast-header">
    1177, vårdguiden
  </div>
  <div class="toast-body">
    Stanna hemma om du är sjuk. Du kan själv undvika att föra smittsamma sjukdomar vidare genom att stanna hemma när du
    symtom på luftvägsinfektion.
    Läs mer<a href="https://www.1177.se/"> här.</a>
  </div>
</div>

<div class="toast show mx-5">
  <div class="toast-header">
    MSB, (myndigheten för samhällsskydd och beredskap)
  </div>
  <div class="toast-body">
    MSB:s allmänna rekommendation för krisberedskap är att man ska planera för att kunna klara sig utan samhällets hjälp
    i minst några dygn – upp till en vecka eller längre om du har den möjligheten.
    Läs mer<a href="https://www.msb.se/"> här.</a>
  </div>
</div>