<div class="toast show">
  <div class="toast-header bg-warning">
    2020-03-27 - Nya förbud
  </div>
  <div class="toast-body">
    Förbjudet med allmänna sammankomster större än <span class="bg-warning">50 personer</span>
    Läs mer<a
      href="https://www.aftonbladet.se/nyheter/a/jdjpVe/forbjudet-med-allmanna-sammankomster-storre-an-50-personer">
      här.</a>
  </div>
</div>

<div class="toast show">
  <div class="toast-header">
    2020-03-22 - ”Fler kommer bli sjuka”
  </div>
  <div class="toast-body">
    Stefan Löfven håller tal till nationen
    Läs mer<a
      href="https://www.svt.se/nyheter/inrikes/darfor-talar-statsministern-till-nationen-i-svt-1">
      här.</a>
  </div>
</div>

<div class="toast show">
  <div class="toast-header">
    2020-03-22 - ”Fler kommer bli sjuka”
  </div>
  <div class="toast-body">
    Stefan Löfven håller tal till nationen
    Läs mer<a
      href="https://www.svt.se/nyheter/inrikes/darfor-talar-statsministern-till-nationen-i-svt-1">
      här.</a>
  </div>
</div>

<div class="toast show">
  <div class="toast-header">
    2020-03-17
  </div>
  <div class="toast-body">
    Folkhälsomyndigheten uppmanar alla som kan jobba hemma att jobba hemma.
    Läs mer på<a href="https://www.folkhalsomyndigheten.se/"> folkhalsomyndigheten.</a>
  </div>
</div>

<div class="toast show">
  <div class="toast-header">
    2020-03-16
  </div>
  <div class="toast-body">
    Över tusen smittade i Sverige.
  </div>
</div>

<div class="toast show">
  <div class="toast-header">
    Hur smittar covid-19?
  </div>
  <div class="toast-body">
    <p>Coronaviruset är ett droppsmitta och droppar genom att viruset kommer ikontakt med luftvägarna.</p>
    Läs mer<a
    href="https://www.folkhalsomyndigheten.se/">
    här.</a>
  </div>
</div>
