<div class="toast show mx-5">
    <div class="toast-header">
      Läget i Stockholm just nu
    </div>
    <div class="toast-body">
      Region Stockholm har valt att sluta testa personer som inte är inlagda på sjukhus eller tillhör en riskgrupp. 
      Läs mer<a href="https://www.1177.se/Stockholm/sa-fungerar-varden/varden-i-stockholms-lan/om-corona/laget-i-stockholm-just-nu/"> här.</a>
    </div>
  </div>

  <div class="toast show mx-5">
    <div class="toast-header">
      Svenska myndigheter
    </div>
    <div class="toast-body">
      <p class="m-0"><a href="https://www.krisinformation.se/">Krisinformation.se</a></p>
      <p class="m-0"><a href="https://www.msb.se/">MSB, (myndigheten för samhällsskydd och beredskap)</a></p>
      <p class="m-0"><a href="https://www.folkhalsomyndigheten.se/">Folkhälsomyndig-heten</a></p>
      <p class="m-0"><a href="https://www.1177.se/">1177, vårdguiden</a></p>
    </div>
  </div>