<div class='d-flex flex-column align-items-center justify-content-center'>

    <h1 class="text-white m-0" *ngIf="currentCasesInSweden; else loadingSpinner">
        {{currentCasesInSweden.currentCasesInSweden}} St
    </h1>
    <p class="font-weight-lighter text-white m-0 mb-1">personer smittade i Sverige</p>
    <hr class="m-0 bg-white">

    <div class="row my-3 statsContainer">
        <div class="col-4 bg-danger d-flex align-items-center flex-column rounded-left pt-2">
            <h3>{{currentCasesInSweden?.deaths}}</h3>
            <p>Dödsfall</p>
        </div>
        <div class="col-4 bg-warning d-flex align-items-center flex-column pt-2">
            <h3>{{currentCasesInSweden?.severeCases}}</h3>
            <p>Intensivvård</p>
        </div>
        <div class="col-4 bg-success d-flex align-items-center flex-column rounded-right pt-2">
            <h3>{{currentCasesInSweden?.recovered}}</h3>
            <p>Tillfrisknade</p>
        </div>
    </div>

    <app-graph-container></app-graph-container>

    <p class="font-weight-lighter text-white m-0 mb-2">Senast uppdaterad: {{currentCasesInSweden?.date}}</p>
</div>

<ng-template #loadingSpinner>
    <div class="spinner-border text-danger mb-3" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</ng-template>