<div class="d-flex justify-content-center">
  <div class="d-flex justify-content-between flex-column">
    <app-stats-container></app-stats-container>
    <app-toast-container></app-toast-container>
    <app-toast-container></app-toast-container>
    <app-toast-container></app-toast-container>
    <app-toast-container></app-toast-container>
    <app-toast-container></app-toast-container>
  </div>
</div>



<!--
<div class="vh-100 d-flex justify-content-between align-items-center flex-column">
  <div class="d-flex flex-row-reverse vw-100">
    <a href="https://github.com/beratcan97/coronakollen" class="m-2">
      <img alt="github logo link" src="assets/images/githubMark.png" width="50" height="50">
    </a>
  </div>
  <div class='d-flex  flex-row'>
    
    <div class='d-flex flex-column'>
      <app-stats-container></app-stats-container>
      <app-toast-container></app-toast-container>
    </div>

  </div>
  <div>
    <a href="https://en.wikipedia.org/wiki/2020_coronavirus_outbreak_in_Sweden"><p class="font-weight-lighter text-dark">Källa</p></a>
  </div>
</div>
-->

<app-particles></app-particles>