.main-container {
/*    animation-duration: 2s;
    animation-name: slidein;*/
}

.toast-container {
    width: 300px;
}

@keyframes slidein {
    from {
        margin-top: 200px;
    } to {
        margin-top: 30px;
    }
  }