<div class="d-flex justify-content-center align-items-center flex-column main-container">
  <app-stats-container class="mt-5"></app-stats-container>

  <app-chart></app-chart>
  
  <app-toast-container class="toast-container"></app-toast-container>

  <div class="d-flex flex-row">
    <a href="https://en.wikipedia.org/wiki/2020_coronavirus_outbreak_in_Sweden">
      <p class="font-weight-lighter text-dark">Källa</p>
    </a>
    <a href="https://www.folkhalsomyndigheten.se/smittskydd-beredskap/utbrott/aktuella-utbrott/covid-19/aktuellt-epidemiologiskt-lage/">
      <p class="font-weight-lighter text-dark">Källa</p>
    </a>
  </div>
</div>

<app-particles></app-particles>